<footer ng-controller="footer as vm">
  <div class="circle-footer"><img src="assets/img/circle-footer.png" alt=""></div>
  <div class="wrapper wrapper-big">
    <div class="column"><img src="assets/img/logo.png" alt=""></div>
    <div class="column">
      <h6>Membresías</h6>
      <a href="membresias/labs">Labs</a>
      <a href="membresias/flex">Flex</a>
      <a href="membresias/desk">Desk</a>
      <a href="membresias/office">Office</a>
    </div>
    <div class="column">
      <h6>Comunidad</h6>
      <a href="eventos">Eventos</a>
      <!-- <a href="noticias">Noticias</a> -->
      <a href="https://www.youtube.com/channel/UCD5gut_qkl6IlkIPpr027wg" target="_blank">Videos</a>
      <a href="https://docs.google.com/document/d/1jU5pCH0Res3bihcw-72s2vX6hgnqgLoIh_Z4ArOZv00/edit" target="_blank">Beneficios</a>
    </div>
    <div class="column">
      <h6>Sedes</h6>
      <a href="sedes/el-salvador">A3 El Salvador</a>
      <a href="sedes/soho">A3 Soho</a>
    </div>
    <div class="column">
      <h6>Nosotros</h6>
      <a href="nosotros">A3</a>
      <a href="google-for-entrepreneurs">Google for Entrepreneurs</a>
      <!-- <a href="porque-somos-el-hub">Porque somos el HUB</a> -->
      <!-- <a href="faqs">FAQ</a> -->
      <a href="hace-tu-evento">Hacé tu evento en A3</a>
      <a href="contacto">Contacto</a>
    </div>
    <div class="column">
      <h6>Newsletter</h6>
      <form ng-submit="vm.submit()">
        <input type="text" placeholder="Nombre" ng-model="form.nombre" required="">
        <input type="email" placeholder="E-mail" ng-model="form.email" required="">
        <p style="color: #e1296b; margin-bottom: 30px;" ng-if="message">{{message}}</p>
				<div class="button" ng-if="!message">
					<input type="submit" value="">
					<img src="assets/img/button-arrow.png">
					<span>Suscribirme</span>
				</div>
      </form>
    </div>

    <div class="copy">2017 - A3 workplace - Todos los derechos reservados - <a href="http://www.estudionk.com" target="_blank">by Estudio NK</a></div>
    <!-- <div class="chat"><span>Dudas? Hablemos!</span> <img src="img/chat.jpg" alt=""></div> -->
  </div>
</footer>
