 <div class="bg-1">
<app-carousel></app-carousel>
  <div id="c1" class="circle circle-1 show-me"><img class="enter-y delay-5" src="assets/img/circle-1.png"></div>
		<div id="caracteristicas" class="show-me wrapper wrapper-big">
			<div class="wrapper">
				<h3 class="enter-x-r">Welcome to EVENTIESTS</h3>
			</div>
			<div class="wp">
				<div class="column enter-y delay-{{i+1}}" *ngFor="let u of events; let i = index">
					<div class="thumb">
						<img src="assets/uploads/{{u.image}}">
						<h4>{{u.name}}</h4>
					</div>
					<div class="info">
						<img src="assets/uploads/{{u.image}}">
						<h4>{{u.name}}</h4>
						<p>{{u.text}}</p>
					</div>
				</div>
			</div>
		</div>
    <div id="membresias" class="show-me wrapper wrapper-big">
      <div class="wrapper">
        <h3 class="enter-x-r">Membresías</h3>
      </div>
      <div class="wp">
        <a href="membresias/{{urlEncode(membresias[0].name)}}" class="column enter-y delay-1">
          <div class="bg"  [ngStyle]="{background:' url(assets/uploads/' + membresias[0].image + ')'}" ></div>
          <div class="text">
            <h4>{{membresias[0].name}}</h4>
            <small>{{membresias[0].desde}}</small>
            <div class="button-wrap">
              <div class="button green">
                <img src="assets/img/button-arrow.png">
                <span>Ver más</span>
              </div>
            </div>
          </div>
        </a>
        <a href="membresias/{{urlEncode(membresias[1].name)}}" class="column enter-y delay-2">
          <div class="bg" [ngStyle]="{background:' url(assets/uploads/' + membresias[1].image + ')'}"></div>
          <div class="text">
            <h4>{{membresias[1].name}}</h4>
            <small>{{membresias[1].desde}}</small>
            <div class="button-wrap">
              <div class="button green">
                <img src="assets/img/button-arrow.png">
                <span>Ver más</span>
              </div>
            </div>
          </div>
        </a>
        <a href="membresias/{{urlEncode(membresias[2].name)}}" class="column enter-y delay-3">
          <div class="bg"  [ngStyle]="{background:' url(assets/uploads/' + membresias[2].image + ')'}"></div>
          <div class="text">
            <h4>{{membresias[2].name}}</h4>
            <small>{{membresias[2].desde}}</small>
            <div class="button-wrap">
              <div class="button green">
                <img src="assets/img/button-arrow.png">
                <span>Ver más</span>
              </div>
            </div>
          </div>
        </a>
        <a href="membresias/{{urlEncode(membresias[3].name)}}" class="column enter-y delay-4">
          <div class="bg"  [ngStyle]="{background:' url(assets/uploads/' + membresias[3].image + ')'}"></div>
          <div class="text">
            <h4>{{membresias[3].name}}</h4>
            <small>{{membresias[3].desde}}</small>
            <div class="button-wrap">
              <div class="button green">
                <img src="assets/img/button-arrow.png">
                <span>Ver más</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
		<div id="c2" class="circle circle-2 show-me"><img class="enter-x-r delay-3" src="assets/img/circle-2.png"></div>
</div>
  <div id="sedes" class="show-me">
		<div class="wrapper wrapper-big">
			<div class="text">
				<h4 class="enter-x-r" >Sedes A3</h4>
				<h3 class="enter-x-r delay-1" >Nuestros espacios para que trabajes en tu mundo.</h3>
			</div>
			<div class="sedes enter-y delay-2">
				<a [routerLink]="['/sedes']" style="background-image: url(assets/uploads/5.jpg)" [ngClass]="{'active': sedeActive == 1 || !sedeActive}" ng-mouseenter="sedeActive = 1">
					<div class="name"><img src="assets/img/logo.png"> <span>A3 A3 El Salvador</span></div>
					<div class="button-wrap">
						<div class="button">
							<img src="assets/img/button-arrow.png">
							<span>Ver más</span>
						</div>
					</div>
				</a>
				<a [routerLink]="['/sedes']"  style="background-image: url(assets/uploads/6.jpg)" [ngClass]="{'active': sedeActive == 2}" ng-mouseenter="sedeActive = 2">
					<div class="name"><img src="assets/img/logo.png"> <span>A3  A3 Soho</span></div>
					<div class="button-wrap">
						<div class="button">
							<img src="assets/img/button-arrow.png">
							<span>Ver más</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="bg-1 second">
		<div id="gfe" class="show-me">
			<img src="assets/img/gfe2.jpg" class="enter-y">
			<h4 class="enter-y delay-1">Una alianza para potenciar <br> a los emprendedores de Argentina</h4>
			<div class="enter-y delay-2">
				<a href="google-for-entrepreneurs" class="button">
					<img src="assets/img/button-arrow.png">
					<span>Conocé los beneficios</span>
				</a>
			</div>
		</div>

		<div id="c3" class="circle circle-3 show-me"><img class="enter-x delay-3" src="assets/img/circle3.png"></div>



		<div id="comunidad" class="show-me wrapper wrapper-big">
			<div class="wrapper">
				<h3 class="enter-x-r">Lo que pasa en la</h3>
				<h4 class="enter-x-r delay-1">#ComunidadA3</h4>
			</div>
			<div class="wp">
				<div class="column enter-y delay-1">
					<h5>Eventos</h5>
					<a  [routerLink]="['/eventos']"   class="event-thumb" *ngFor="let e of eventos">
						<div class="date">
							<small>{{getMonth(e.date)}}</small>
							<strong>{{getDay(e.date)}}</strong>
						</div>
						<div class="detail">
							<small>{{e.name}}</small>
							<p>{{e.hour}}</p>
							<p>{{e.sede}}</p>
						</div>
					</a>
					<a href="eventos" class="button red">
						<img src="assets/img/button-arrow.png">
						<span>Ver más</span>
					</a>
				</div>
				<div class="column enter-y delay-2" [ngStyle]="{background:' url(assets/img/' + youtube[0].image + ')'}">
					<h5>Videos</h5>
					<h6>{{youtube[0].title}}</h6>
					<img src="assets/img/play.png" class="play">
					<img src="assets/img/yt.png" class="yt">
					<a href="{{youtube[0].link}}" target="_blank"></a>
				</div>
				<div class="column enter-y delay-3">
					<h5>Beneficios</h5>
					<img src="assets/img/beneficios.jpg">
					<a href="https://docs.google.com/document/d/1jU5pCH0Res3bihcw-72s2vX6hgnqgLoIh_Z4ArOZv00/edit" class="button orange">
						<img src="assets/img/button-arrow.png">
						<span>Ver más</span>
					</a>
				</div>
			</div>
		</div>

		<div id="social" class="show-me">
			<div class="enter-y">
				<i class="fa fa-twitter"></i>
				<div class="text">
					<h6>{{tweet}}</h6>
					<small>{{tweetTime}}</small>
				</div>
				<a  href="https://twitter.com/vijaychauhanssn" target="_blank"></a>
			</div>
			<div class="enter-y delay-1"    [ngStyle]="{'background-image':' url(' + instagram?.image + ')'}">
			<i class="fa fa-instagram"></i>
			 <div class="text">
				<p>{{instagram?.text}}</p>
				<small>{{instagram?.date}}</small>
			</div> 
			<a href="{{instagram?.link}}" target="_blank"></a>
		</div>
		</div>
		<div id="example1" style="display: none !important"></div>
		<div id="gfe3" class="show-me">
			<h4 class="enter-x-r">#PartnersA3</h4>
			<h3 class="enter-x delay-1">que potencian tus ideas</h3>
			<img src="assets/img/gfe3.jpg" class="enter-y delay-2">
		</div>

	</div>
