<header class="app-header navbar">
  <div class="wrapper">
    <a href="/home" class="logo"><img src="assets/img/logo.png"></a>
    <nav [ngClass]="{'active': activeNav}">
      <div class="button-wrap has-submenu">
        <a class="color-white"    routerLinkActive="active" [routerLink]="['/membresia']">Home</a>
        <ul>
          <li><a  routerLinkActive="active" [routerLink]="['/membresias/labs']">Labs</a></li>
          <li><a  routerLinkActive="active" [routerLink]="['/membresias/flex']">Flex</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/membresias/desk']"  >Desk</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/membresias/office']" >Office</a></li>
        </ul>
      </div>
      <div class="button-wrap has-submenu" >
        <a class="color-white"  routerLinkActive="active" [routerLink]="['/comunidad']">About</a>
        <ul>
          <li><a [ngClass]="{'active': subsection == 'eventos'}" routerLinkActive="active" [routerLink]="['/eventos']">Eventos</a></li>
          <!-- <li><a [ngClass]="{'active': section == 'noticias'}" href="noticias">Noticias</a></li> -->
          <li><a href="https://www.youtube.com/channel/UCD5gut_qkl6IlkIPpr027wg" target="_blank">Videos</a></li>
          <li><a href="https://docs.google.com/document/d/1jU5pCH0Res3bihcw-72s2vX6hgnqgLoIh_Z4ArOZv00/edit" target="_blank">Beneficios</a></li>
        </ul>
      </div>
      <div class="button-wrap has-submenu" >
        <a class="color-white" href="sedes">Events</a>
        <ul>
          <li><a class="color-white" href="sedes/el-salvador">Program</a></li>
          <li><a class="color-white" href="sedes/soho">Surya Soho</a></li>
        </ul>
      </div>
      <div class="button-wrap has-submenu" >
        <a class="color-white" href="sedes">Contact</a>
        <ul>
          <li><a class="color-white">Surya</a></li>
          <li><a class="color-white" href="google-for-entrepreneurs">Google for Entrepreneurs</a></li>
          <li><a class="color-white" href="hace-tu-evento">Hacé tu evento en Surya</a></li>
          <li><a class="color-white" routerLinkActive="active" [routerLink]="['/contacto']">Contacto</a></li>
        </ul>
      </div>
      <div class="button-wrap">
        <a class="color-white" href="#"><span>Members</span><span>Próximamente</span></a>
      </div>
    </nav>
    <div class="toggle-nav" (click)="activeNav = !activeNav" [ngClass]="{'active': activeNav}" type="button" appMobileSidebarToggler>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
